.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/

.idea/
*.iml
*.ipr
*.iws

.vscode/

*.log
*.swp
.metadata

*.class
.gradle/
gradle-wrapper.jar
local.properties
*.apk
*.ap_
*.aab

*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/.DS_Store

xcuserdata/

*.perspectivev3
 Pods/

generated_plugin_registrant.dart
GeneratedPluginRegistrant.

*.keystore
!debug.keystore
key.properties

*.exe
*.dll
*.so
*.dylib
